{
    "extends": [
        "stylelint-config-recommended-scss",
        "stylelint-config-sass-guidelines"
    ],
    "plugins": [
        "stylelint-scss",
        "stylelint-order",
        "stylelint-config-rational-order/plugin"
    ],
    "rules": {
        "order/properties-order": [],
        "plugin/rational-order": [
            true,
            {
                "border-in-box-model": false,
                "empty-line-between-groups": false
            }
        ],
        "order/properties-alphabetical-order": false,
        "declaration-empty-line-before": "never",
        "max-nesting-depth": [
            3,
            {
                "ignore": ["pseudo-classes"]
            }
        ],
        "max-empty-lines": 1,
        "selector-class-pattern": [
            "",
            {
                "message":
                "TODO: Temporary no rules for selectors and class names"
            }
        ],
        "string-quotes": "double",
        "number-leading-zero": "never",
        "indentation": [4]
    }
}
